.app {}

.header {
  width: 100%;
  height: 7vh;
  margin-bottom: 3vh;
  text-align: center;
  font-size: 24pt;
}

.container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.controls {
  width: 35vw;
  float: left;
  margin-left: 2vw;
}

.controls h1 {
  margin: 0;
}

.map {
  width: 60vw;
  height: 85vh;
  margin-left: 20vw;
}